
<div id="container">
  <div id="content" >
    <div class="ui cards centered four">
      <div class="card">
        <div class="content">
          <%= image_tag('safe.png')%>

          <div class="description">

            <b>Депозиты.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.
            Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.
            Etiam aliquam sollicitudin mi, in maximus enim aliquet et.
            Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.
          </div>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Узнать больше
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('credit-card.png')%>

          <div class="description">

            <b>Кредитные линии.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.
            Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.
            Etiam aliquam sollicitudin mi, in maximus enim aliquet et.
            Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.
          </div>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Узнать больше
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('email.png')%>

          <div class="description">

            <b>Email уведомления.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.
            Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.
            Etiam aliquam sollicitudin mi, in maximus enim aliquet et.
            Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.
          </div>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Узнать больше
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('sms.png')%>
          <div class="description">

            <b>SMS уведомления.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.
            Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.
            Etiam aliquam sollicitudin mi, in maximus enim aliquet et.
            Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.
          </div>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Узнать больше
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('support.png')%>

          <div class="description">

            <b>Техническая поддержка.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.
            Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.
            Etiam aliquam sollicitudin mi, in maximus enim aliquet et.
            Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.
          </div>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Узнать больше
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('cloud.png')%>

          <div class="description">

            <b>Интернет-банкинг.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.
            Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.
            Etiam aliquam sollicitudin mi, in maximus enim aliquet et.
            Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.
          </div>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Узнать больше
        </div>
      </div>

      <div class="card">
        <div class="content">
          <%= image_tag('test.png')%>
          <div class="description">

            <b>Онлайн заявка на кредит.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mi enim, accumsan non molestie vel, tincidunt sit amet augue.
            Nulla et malesuada lorem, a rutrum nibh. Etiam et dictum elit.
            Etiam aliquam sollicitudin mi, in maximus enim aliquet et.
            Mauris malesuada purus vitae tellus rutrum, non malesuada velit facilisis. Aliquam vel lectus luctus dui molestie hendrerit. Aliquam convallis ultricies arcu venenatis venenatis.
          </div>
        </div>

        <div class="ui bottom attached button">
          <i class="add icon"></i>
          Узнать больше
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function()
  {
    window.onresize = function()
    {
      rude.cards.init();
    };

    rude.cards.init();
  });
</script>


